body {font-family:'poppins', sans-serif;
}
h1{font-size: 50px;}





  h1 .orange-color{color:orange;}
  section{display: flex;margin-bottom: 150px;}
  .half {width: 50%;
padding-left:2%;}
.half img{width:80%;}

.something{text-decoration: none;

background-image: linear-gradient(orange,tomato);

color:white;
font-weight: 700px;
border-radius:5px;
padding: 10px 15px;}
.top-banner{background-image: url(images/top-banner.png);
background-repeat: no-repeat; margin-top: 20px;}
.dream-big{background-image: url(images/dream-bg.png);
background-repeat: no-repeat;}